---
import { SEO } from "astro-seo"
import { seoConfig } from "@util/seoConfig"
import "@fontsource/inter/";
import Compatibility from "@component/compatibility.astro";
import Projects from "@component/projects.astro";
import Footer from "@component/footer.astro";
import Header from "@component/header.astro";
import AboutMe from "@component/aboutme.astro";
import Tutoring from "@component/tutoring.astro";
import Contact from "@component/contact.astro";
// import Showcase from "~/components/showcase.astro";
import Splash from "@component/splash.astro";
import "@style/index.css";

const title = "Danny Callaghan";
const disableIndexing = false;
const { generator, site } = Astro;
// const image = new URL("social.jpg", site);
const description =
  "UK based developer and Computer Science graduate, with a passion for the web platform.";

const apple_icons = [
  57,
  60,
  72,
  76,
  114,
  120,
  144,
  152,
  180,
];
const icons = [
  16,
  32,
  96,
  192,
];
---

<!DOCTYPE html>
<html lang="en" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicons/favicon.png" type="image/png" />
    <meta name="generator" content={generator} />

    <!-- SEO. -->
		<SEO
      title={title}
      description={seoConfig.description || description}
      noindex={disableIndexing}
      nofollow={disableIndexing}
    />

    <title>{title}</title>

    <!-- social media -->
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <!-- <meta property="og:image" content={image} /> -->
    <meta property="og:url" content={site} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@dannycallaghan" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <!-- <meta name="twitter:image" content={image} /> -->

    <!-- Favicons. -->
    {apple_icons.map(size => (
      <link
        rel="apple-touch-icon"
        sizes={`${size}x${size}`}
        href={`/favicons/${size}.png`}
      />
    ))}
    {icons.map(size => (
      <link
        rel="icon"
        type="image/png"
        sizes={`${size}x${size}`}
        href={`/favicons/${size}.png`}
      />
    ))}
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/favicons/favicon.ico"
    />
    <link rel="icon" type="image/x-icon" href="/favicons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#112244" />
    <meta
      name="msapplication-TileImage"
      content="/favicons/144.png"
    />
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <link rel="icon" type="image/png" href="/favicons/favicon.png" />
    <meta name="theme-color" content="#112244" />

    <!-- Service worker registration. -->

    <script is:inline src="/registerSW.js"></script>
    <link rel="manifest" href="/manifest.webmanifest" />

  </head>
  <body
    class="h-full font-varela overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
  >
    <Header />
    <Splash />
    <AboutMe />
    <Projects />
    <Tutoring />
    <Contact />
    <script>
			// This is a hack to get vite-plugin-pwa to generate a sw.js file.
			// Do not remove this script tag.
		</script>
  </body>
</html>
